.wrapper {
  width: 100%;
  background-color: rgb(0 0 0 /50%);
}

.info {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}

.logo {
  cursor: pointer; 
}

.nav {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

.navItem {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
.navItemCenter {
  margin: 0 30px;
}

.authorization {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.userFirstName, .userSecondName {
  margin: 0 0 0 10px;
  font-family: PT Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.userSecondName {
  margin-left: 6px;
}