.wrapper {
  width: 100%;
  background-color: black;
  /*opacity: 0.5;*/
}

.body{
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}

.header_nav{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

.header_nav_item, .header_nav_item_center {
  /*font-family: Oswald;*/
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.header_nav_item_center{
margin: 0 30px;
}

.header_authorization{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header_authorization_userFirstName, .header_authorization_userSecondName {
margin: 0 0 0 10px;
color: #FFFFFF;
}

.header_authorization_userSecondName {
  margin-left: 6px;
  }