.wrapper {
  width: 100%;
  background-color: black;
  position: absolute;
}

.info {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}

.logo {
  min-width: 175px;
  height: 35px;
  cursor: pointer; 
}

.nav {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

.navItem {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
  /*фича для эффекта подчеркивания*/ 
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.navItem:hover {
  background-size: 100% 2px;
}

.navItemCenter {
  margin: 0 80px;
}

.authorization {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.userIcon {
  width: 25px;
  height: 25px;
}

.userFirstName, .userSecondName {
  margin: 0 0 0 10px;
  font-family: PT Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.userSecondName {
  margin-left: 6px;
}

.mainPageHeaderWrapper {
  background-color: rgb(0 0 0 /50%);
}

/*Media queries*/
@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .navItemCenter {
    margin: 0 25px;
  }
}

@media (max-width: 768px) {
  .navItem {
    font-size: 13px;
  }
}


@media (max-width: 480px) {
  .info {
    padding: 10px 0;
  }

  .nav {
    display: none;
  }

  .authorization {
    width: 100%;
    justify-content: flex-end;
  }

  .userIcon {
    width: 18px;
    height: 18px;
  }
  
  .userFirstName, .userSecondName {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
}