.standartBtn {
    padding: 17px 45px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3BAE39;
    cursor: pointer;
}

.standartBtn:hover {
    background-color: #FFAD00;
    transition: .2s;
}