.buttonGroup {
  display: flex;
  position: relative;
}

.leftBtn {
  position: absolute;
  left: 0;
}

.rightBtn {
  position: absolute;
  right: 0;
}

.preText {
  display: flex;
  align-items: center;
}

.tire {
  width: 40px;
  height: 2px;
  background-color: #FFAD00;
}

.preTitle {
  margin: 0 0 0 15px;
  font-family: 'Marck Script', cursive;
  font-style: italic;
  font-weight: bold;
  color: #FFAD00;
  cursor: default;
}

.title {
  margin: 60px 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: default;
}

.subtitle {
  width: 75%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  color: #FFFFFF;
  cursor: default;
}

.largeSkin {
  .preTitle {
    font-size: 42px;
    line-height: 32px;
  }

  .title {
    font-size: 76px;
    line-height: 86px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 19px;
  }

  .buttonGroup {
    margin-top: 100px;
  }
}

.smallSkin {
  .preTitle {
    font-size: 32px;
    line-height: 32px;
  }

  .title {
    margin: 35px 0;
    font-size: 55px;
    /*line-height: 86px;*/
  }

  .subtitle {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
  }

  .buttonGroup {
    margin-top: 50px;
  }
}

/*МЕДИАЗАПРОСЫ*/
@media (min-width: 1400px) and (max-width: 1599px) {

}
@media (min-width: 1200px) and (max-width: 1399px){
  .largeSkin {
    .preTitle {
      font-size: 32px;
      line-height: 32px;
    }
  
    .title {
      margin: 30px 0;
      font-size: 62px;
      line-height: 86px;
    }
  
    .subtitle {
      font-size: 18px;
      line-height: 19px;
    }

    .buttonGroup {
      width: 80%;
      margin-top: 60px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .largeSkin {
    .preTitle {
      font-size: 32px;
      line-height: 32px;
    }
  
    .title {
      margin: 30px 0;
      font-size: 62px;
      line-height: 86px;
    }
  
    .subtitle {
      font-size: 14px;
      line-height: 19px;
    }

    .buttonGroup {
      width: 95%;
      margin-top: 60px;
    }
  } 

  .smallSkin {
    .preTitle {
      font-size: 26px;
      line-height: 32px;
    }
  
    .title {
      margin: 20px 0;
      font-size: 46px;
      line-height: 55px;
    }
  
    .subtitle {
      margin: 0;
      font-size: 12px;
      line-height: 15px;
    }
  
    .buttonGroup {
      margin-top: 25Spx;
    }
  }  
}

@media (min-width: 768px) and (max-width: 991px) {
  .largeSkin {
    .preTitle {
      font-size: 22px;
      line-height: 32px;
    }
  
    .title {
      width: 70%;
      margin: 30px 0;
      font-size: 48px;
      line-height:57px;
    }
  
    .subtitle {
      width: 60%;
      font-size: 12px;
      line-height: 15px;
    }

    .buttonGroup {
      width: 80%;
      margin-top: 40px;
    }
  }

  .smallSkin {
    .preTitle {
      font-size: 18px;
      line-height: 0px;
    }
  
    .title {
      margin: 20px 0;
      font-size: 32px;
      line-height: 30px;
    }
  
    .subtitle {
      margin: 0;
      font-size: 7px;
      line-height: 11px;
    }
  
    .buttonGroup {
      margin-top: 15px;
    }
  } 
}

@media (max-width: 480px) {
  .tire {
    width: 20px;
  }

  .largeSkin {
    .preTitle {
      font-size: 16px;
      line-height: 0px;
    }
  
    .title {
      width: 70%;
      margin: 25px 0;
      font-size: 32px;
      line-height:36px;
    }
  
    .subtitle {
      width: 60%;
      font-size: 10px;
      line-height: 12px;
    }

    .buttonGroup {
      width: 80%;
      margin-top: 40px;
    }
  }

  .smallSkin {
    .preTitle {
      font-size: 10px;
      line-height: 0px;
    }
  
    .title {
      margin: 15px 0;
      font-size: 25px;
      line-height: 27px;
    }
  
    .subtitle {
      width: 90%;
      margin: 0;
      font-size: 6px;
      line-height: 7px;
    }
  
    .buttonGroup {
      margin-top: 0px;
    }
  } 
}

@media (max-width: 360px) {
}