.buttonGroup {
  display: flex;
  position: relative;
  margin-top: 100px;
}

.leftBtn {
  position: absolute;
  left: 0;
}

.rightBtn {
  position: absolute;
  right: 0;
}

.preText {
  display: flex;
  align-items: center;
}

.tire {
  width: 40px;
  height: 2px;
  background-color: #FFAD00;
}

.preTitle {
  margin: 0 0 0 15px;
  font-family: 'Marck Script', cursive;
  font-style: italic;
  font-weight: bold;
  color: #FFAD00;
  cursor: default;
}

.title {
  margin: 60px 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: default;
}

.subtitle {
  width: 75%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  color: #FFFFFF;
  cursor: default;
}

.largeSkin {
  .preTitle {
    font-size: 42px;
    line-height: 32px;
  }

  .title {
    font-size: 76px;
    line-height: 86px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 19px;
  }
}

.smallSkin {
  .preTitle {
    font-size: 25px;
    line-height: 32px;
  }

  .title {
    font-size: 46px;
    line-height: 86px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 19px;
  }
}