.preText {
  display: flex;
  align-items: center;
}

.tire {
  width: 30px;
  height: 2px;
  background-color: #FFAD00;
}

.preTitle {
  margin: 0 0 0 15px;
  font-family: 'Marck Script', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #FFAD00;
  cursor: default;
}

.title {
  margin: 30px 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 60px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: default;
}

.subtitle {
  width: 75%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #FFFFFF;
  cursor: default;
}