.btnGreen {
    padding: 15px 45px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3BAE39;
}
.btnGreen:hover{
    background-color: #FFAD00;
}