.backgrounMainImage {
  width: 100%;
  background: url(../../assets/img/mainImage.png);
  background-size: cover;
  height: 100vh;
}

.backgrounSecondImage {
  width: 100%;
  background: url(../../assets/img/secondImage.png);
  background-size: cover;
  height: auto;
  margin-top: 200px;
}

.backgrounThirdImage {
  width: 100%;
  background: url(../../assets/img/thirdImage.png);
  background-size: cover;
  height: auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
}

.firstScreenLeftPart {
  width: 750px;
  margin-top: 250px;
}

.buttonGroupRight{
  margin-left: 100px;
}

.button {
  padding-bottom: 40px;
}

.secondScreenLeftPart {
  width: 50%;
  padding-top: 80px;
}

.secondScreenRigthPart {
  width: 50%;
  padding-top: 305px;
  padding-bottom: 85px;
}

.thirdScreenLeftPart {
  width: 50%;
  padding-top: 305px;
  padding-bottom: 85px
}

.thirdScreenRigthPart {
  width: 50%;
  padding-top: 80px;
}

.aboutProject {
  width: 85%;
  margin: 0 auto 50px;
  display: flex;
}

.cshukaImgLeft, .cshukaImgRight {
  width: 25%;
  height: auto;
  padding: 50px 50px;
}

.cshukaImgRight {
  transform: scale(-1, 1);
}
 
.wrapper {
  width: 50%;
}

.title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
}
.subtitle {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  cursor: default;
}

/*Media queries*/
@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
  .backgrounMainImage, .backgrounSecondImage, .backgrounThirdImage {
    background-position: center;
  }

  .firstScreenLeftPart {
    width: 600px;
    margin-top: 200px;
  }

  .secondScreenLeftPart {
    width: 45%;
  }
  
  .secondScreenRigthPart {
    width: 55%;
    padding: 305px 0 85px 0;
  }

  .thirdScreenLeftPart {
    width: 60%;
    padding: 305px 0 85px 0;
  }
  
  .thirdScreenRigthPart {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .backgrounSecondImage {
    margin-top: 130px;
  }

  .backgrounThirdImage {
    margin: 60px 0 50px 0;
  }

  .secondScreenLeftPart {
    width: 45%;
  }

  .secondScreenRigthPart {
    width: 55%;
    padding: 200px 0 70px 0;
  }
  
  .thirdScreenLeftPart {
    width: 55%;
    padding: 140px 0 70px 0;
  }

  .thirdScreenRigthPart {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }

  .backgrounSecondImage {
    margin-top: 70px;
  }

  .backgrounThirdImage {
    margin: 60px 0 50px 0;
  }

  .firstScreenLeftPart {
    width: 100%;
  }

  .firstScreenRigthPart {
    width: 0%;
  }

  .secondScreenLeftPart {
    width: 40%;
  }

  .secondScreenRigthPart {
    width: 60%;
    padding: 150px 0 70px 0;
  }
  
  .thirdScreenLeftPart {
    width: 60%;
    padding: 110px 0 70px 0;
  }

  .thirdScreenRigthPart {
    width: 40%;
  }

  .cshukaImgLeft, .cshukaImgRight {
    padding: 84px 40px;
  }
}

@media (max-width: 768px) {
  .aboutProject {
    margin: 0 auto;
  }

  .cshukaImgLeft, .cshukaImgRight {
    padding: 104px 10px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }

  .backgrounSecondImage {
    margin-top: 70px;
  }

  .backgrounThirdImage {
    margin: 60px 0 50px 0;
  }

  .firstScreenLeftPart {
    width: 100%;
    padding-top: 40px;
  }

  .firstScreenRigthPart {
    width: 0%;
  }

  .secondScreenLeftPart {
    width: 40%;
  }

  .secondScreenRigthPart {
    width: 60%;
    padding: 110px 0 45px 0;
  }
  
  .thirdScreenLeftPart {
    width: 60%;
    padding: 175px 0 40px 0;
  }

  .thirdScreenRigthPart {
    width: 40%;
  }

  .cshukaImgLeft, .cshukaImgRight {
    display: none;
  }

  .wrapper {
    width: 100%;
  }

  .title {
    font-size: 24px;
    line-height: 10px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 360px) {
}