.backgrounMainImage {
  width: 100%;
  background: url(../../assets/img/mainImage.png);
  background-size: cover;
  height: 100vh;
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
}

.leftPart {
  width: 50%;
  padding-top: 80px;
}

.rigthPart {
  width: 50%;
}

.buttonGroup {
  display: flex;
  margin-top: 100px;
}

.buttonGroupRight{
  margin-left: 50px;
}