.backgrounMainImage {
  width: 100%;
  background: url(../../assets/img/mainImage.png);
  background-size: cover;
  height: 100vh;
}

.backgrounSecondImage {
  width: 100%;
  background: url(../../assets/img/secondImage.png);
  background-size: cover;
  height: 100%;
  margin-top: 150px;
}

.backgrounThirdImage {
  width: 100%;
  background: url(../../assets/img/thirdImage.png);
  background-size: cover;
  height: 100vh;
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
}

.firstScreenLeftPart {
  width: 50%;
  padding-top: 200px;
}

.firstScreenRigthPart {
  width: 50%;
}

.buttonGroupRight{
  margin-left: 100px;
}

.button {
  padding-bottom: 40px;
}

.secondScreenLeftPart {
  width: 50%;
  padding-top: 80px;
}

.secondScreenRigthPart {
  width: 50%;
  padding-top: 80px;
}

.thirdScreenLeftPart {
  width: 50%;
  padding-top: 80px;
}

.thirdScreenRigthPart {
  width: 50%;
  padding-top: 80px;
}

/*МЕДИАЗАПРОСЫ*/
@media (min-width: 1200px) and (max-width: 1599px){
  .firstScreenLeftPart {
    width: 100%;
    padding-top: 150px;
  }
  .firstScreenRigthPart {
    width: 30%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .firstScreenLeftPart {
    width: 100%;
    padding-top: 120px;
  }
  .firstScreenRigthPart {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 375px) {
}